/* Setting the page size */
.page {
    width: 1500px;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
  }
  
/* Setting the text as san-serif for body and heading */
/* Heading */
h1 {
    font-weight: 1200;
    font-size: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

/* Text inside each grid */
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif; 
    line-height: 1;
    text-align: center;
}

/* Making Idiom Contain take up 100% of Space */
.idiom-container {
    width: 100%;

}

/* Styling for descriptions */
.description-right,
.description-left,
.description-centre {
    margin: 20px;
    font-size: larger;
}


/* Styling for cards (box-like containers) */
.rounded-container {
    background-color: #FFFFCC; 
    border: 1px solid #f5d2d2; 
    border-radius: 10px; 
    padding: 20px; 
  }

/* Empty Space for Gap */
  .empty_container{
    height: 20px;
  }


